- @title = "Shorten your link"

= form_tag '/4dmin/links/new', method: 'post' do
  %input.form-control.mbs.txc{ label: "Token", name: 'token', value: generate_token, required: true }
  %input.form-control.mbs.txc{ name: 'url', placeholder: 'Store your URL here', required: true }
  %button.btn.btn-success.btn-fill.bw3{ type: 'submit' } Connect


